{%extends 'base.html'%} {% block about_us %}
<div id='html about_us'>
<div class="row">
  <div class="col l8 offset-l2 m7 offest-m2 hide-on-small-only">
    <div class="card horizontal">
      <div class="card-image">
        <img
          src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__340.jpg"
        />
        <span class="card-title">Vincent Newsom</span>
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>
          About Vincent Newsom:
          </p>
        </div>
        <div class="card-action">
          <a href="#">Linked In</a>
          <a href="#">Github</a>
          <a href="#">Get in touch</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col l8 offset-l2 m7 offest-m2 hide-on-small-only">
    <div class="card horizontal">
      <div class="card-image">
        <img
          src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__340.jpg"
        />
        <span class="card-title">Meagan Ramey</span>
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>
          About Meagan Ramey:
          </p>
        </div>
        <div class="card-action">
          <a href="#">Linked In</a>
          <a href="#">Github</a>
          <a href="#">Get in touch</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col l8 offset-l2 m7 offest-m2 hide-on-small-only">
    <div class="card horizontal">
      <div class="card-image">
        <img
          src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__340.jpg"
        />
        <span class="card-title">Manny Velasco</span>
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>
          About Manny Velasco:
          </p>
        </div>
        <div class="card-action">
          <a href="#">Linked In</a>
          <a href="#">Github</a>
          <a href="#">Get in touch</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col l8 offset-l2 m7 offest-m2 hide-on-small-only">
    <div class="card horizontal">
      <div class="card-image">
        <img
          src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__340.jpg"
        />
        <span class="card-title">Tyrell Williams</span>
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>
          About Tyrell Williams:
          </p>
        </div>
        <div class="card-action">
          <a href="#">Linked In</a>
          <a href="#">Github</a>
          <a href="#">Get in touch</a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<div id='mobile about_us'>
<div class="row">
  <div class="col s12 m7 hide-on-med-and-up">
    <div class="card">
      <div class="card-image">
        <img
          src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__340.jpg"
        />
        <span class="card-title">Vincent Newsom</span>
      </div>
      <div class="card-content">
        <p>
            About Vincent Newsom:
        </p>
      </div>
      <div class="card-action">
          <a href="#">Linked In</a>
          <a href="#">Github</a>
          <a href="#">Get in touch</a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col s12 m7 hide-on-med-and-up">
    <div class="card">
      <div class="card-image">
        <img
          src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__340.jpg"
        />
        <span class="card-title">Meagan Ramey</span>
      </div>
      <div class="card-content">
        <p>
            About Meagan Ramey:
        </p>
      </div>
      <div class="card-action">
          <a href="#">Linked In</a>
          <a href="#">Github</a>
          <a href="#">Get in touch</a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col s12 m7 hide-on-med-and-up">
    <div class="card">
      <div class="card-image">
        <img
          src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__340.jpg"
        />
        <span class="card-title">Manny Velasco</span>
      </div>
      <div class="card-content">
        <p>
            About Manny Velasco:
        </p>
      </div>
      <div class="card-action">
          <a href="#">Linked In</a>
          <a href="#">Github</a>
          <a href="#">Get in touch</a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col s12 m7 hide-on-med-and-up">
    <div class="card">
      <div class="card-image">
        <img
          src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__340.jpg"
        />
        <span class="card-title">Tyrell Williams</span>
      </div>
      <div class="card-content">
        <p>
            About Tyrell Williams:
        </p>
      </div>
      <div class="card-action">
          <a href="#">Linked In</a>
          <a href="#">Github</a>
          <a href="#">Get in touch</a>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock about_us %}
