{%extends 'base.html'%} {% block about_us %}
<div id='html about_us'>
<div class="row">
  <div class="col l8 offset-l2 m7 offest-m2 hide-on-small-only">
    <div class="card horizontal">
      <div class="card-image">
        <img
          src="../media/images/Vincent.png"
        />
        <span class="card-title">Vincent Newsom</span>
      </div>
      <div class="card-stacked">
        <div class="card-content valign-wrapper">
          <p>
          Vincent Newsom is a motivated Software Engineer with hands-on project experience operating 
          remotely with a national team. He enjoys solving challenging problems and building new applications. 
          Life long learner, teacher, follower and leader who is driven by the team’s success, client 
          satisfaction and a polished, clean final product. He loves spending his free time laughing and 
          spending quality time with his beautiful wife Rebekah and two daughters.
          </p>
        </div>
        <div class="card-action">
          <a href="https://www.linkedin.com/in/vincent-newsom-722675155/">Linked In</a>
          <a href="https://github.com/vinchinzo123">Github</a>
          <a href="mailto: vnewsom90@gmail.com">Get in touch</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col l8 offset-l2 m7 offest-m2 hide-on-small-only">
    <div class="card horizontal">
      <div class="card-image">
        <img
          src="../media/images/Meagan.jpg"
        />
        <span class="card-title">Meagan Ramey</span>
      </div>
      <div class="card-stacked">
        <div class="card-content valign-wrapper">
          <p>
          Meagan Ramey is passionate about science, medicine, culture, and social structure. 
          In five years she plans to be leading a team of software developers, bringing the world 
          another tool to make our collective lives easier. Her work style is meticulous, reliable, 
          and driven. She has her Bachelor’s of Science in Biological Science, and is a certified 
          full-stack engineer. During her Kenzie curriculum, she became a software tutor, teaching 
          and encouraging others along the path to a coding career.  
          With a 30th birthday around the corner, Meagan is happiest adventuring with her boyfriend 
          Blade around their new home state, South Carolina.
          </p>
        </div>
        <div class="card-action">
          <a href="https://www.linkedin.com/in/meagan-ramey/">Linked In</a>
          <a href="https://github.com/meaganramey">Github</a>
          <a href="mailto: meagan.ramey@yahoo.com">Get in touch</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col l8 offset-l2 m7 offest-m2 hide-on-small-only">
    <div class="card horizontal">
      <div class="card-image">
        <img
          src="../media/images/Manny.png"
        />
        <span class="card-title">Manny Velasco</span>
      </div>
      <div class="card-stacked">
        <div class="card-content valign-wrapper">
          <p>
          Manny loves to interact and work with people. In five years he sees himself working at 
          a big tech company helping to shape the world. He prefers team work over being a lone wolf 
          because he loves both the opportunity to teach and to learn. He is a certified full stack 
          engineer. Manny is constantly pushing to expand his understanding of code, and in his free
          time enjoys exploring the scenery in his town of Hermiston, Oregon.
          </p>
        </div>
        <div class="card-action">
          <a href="https://www.linkedin.com/in/manuel-velasco-29b894197/">Linked In</a>
          <a href="https://github.com/menosvelasco">Github</a>
          <a href="mailto: manuelvelasco2020@gmail.com">Get in touch</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col l8 offset-l2 m7 offest-m2 hide-on-small-only">
    <div class="card horizontal">
      <div class="card-image">
        <img
          src="../media/images/Tyrell.png"
        />
        <span class="card-title">Tyrell Williams</span>
      </div>
      <div class="card-stacked">
        <div class="card-content valign-wrapper">
          <p>
            Tyrell Williams is an up and coming, certified full-stack software developer with a creative 
            mind and determination to get any task done. In the near future, Tyrell plans on being a vital 
            player on a development team with projects that focus on the greater good for mankind. Going 
            right along with being creative, Tyrell excels in problem solving which will make him an asset 
            to anyones development team. Ultimately, Tyrell would like to start his own business that is 
            centered around helping the less fortunate who either doesn’t have the means to afford decent 
            technology or just can’t seem to understand the technology that they already have. Outside of coding, 
            Tyrell enjoys watching sports and spending as much time as possible with loved ones.
          </p>
        </div>
        <div class="card-action">
          <a href="http://linkedin.com/in/tyrell-williams-878813170">Linked In</a>
          <a href="https://github.com/Tywill2020">Github</a>
          <a href="mailto: Tywill2014@gmail.com">Get in touch</a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<div id='mobile about_us'>
<div class="row">
  <div class="col s12 m7 hide-on-med-and-up">
    <div class="card">
      <div class="card-image">
        <img
          src="../media/images/Vincent.png"
        />
        <span class="card-title">Vincent Newsom</span>
      </div>
      <div class="card-content">
        <p>
          Vincent Newsom is a motivated Software Engineer with hands-on project experience operating 
          remotely with a national team. He enjoys solving challenging problems and building new applications. 
          Life long learner, teacher, follower and leader who is driven by the team’s success, client 
          satisfaction and a polished, clean final product. He loves spending his free time laughing and 
          spending quality time with his beautiful wife Rebekah and two daughters.
        </p>
      </div>
      <div class="card-action">
          <a href="https://www.linkedin.com/in/vincent-newsom-722675155/">Linked In</a>
          <a href="https://github.com/vinchinzo123">Github</a>
          <a href="mailto: vnewsom90@gmail.com">Get in touch</a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col s12 m7 hide-on-med-and-up">
    <div class="card">
      <div class="card-image">
        <img
          src="../media/images/Meagan.jpg"
        />
        <span class="card-title">Meagan Ramey</span>
      </div>
      <div class="card-content">
        <p>
          Meagan Ramey is passionate about science, medicine, culture, and social structure. 
          In five years she plans to be leading a team of software developers, bringing the world 
          another tool to make our collective lives easier. Her work style is meticulous, reliable, 
          and driven. She has her Bachelor’s of Science in Biological Science, and is a certified 
          full-stack engineer. During her Kenzie curriculum, she became a software tutor, teaching 
          and encouraging others along the path to a coding career. Although she struggles with 
          time management by putting too much of herself in projects, and tends to become stressed 
          around deadlines, Meagan is battling this by setting reasonable deadlines and boundaries. 
          With a 30th birthday around the corner, Meagan is happiest adventuring with her boyfriend 
          Blade around their new home state, South Carolina.
        </p>
      </div>
      <div class="card-action">
          <a href="https://www.linkedin.com/in/meagan-ramey/">Linked In</a>
          <a href="https://github.com/meaganramey">Github</a>
          <a href="mailto: meagan.ramey@yahoo.com">Get in touch</a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col s12 m7 hide-on-med-and-up">
    <div class="card">
      <div class="card-image">
        <img
          src="../media/images/Manny.png"
        />
        <span class="card-title">Manny Velasco</span>
      </div>
      <div class="card-content">
        <p>
          Manny loves to interact and work with people. In five years he sees himself working at 
          a big tech company helping to shape the world. He prefers team work over being a lone wolf 
          because he loves both the opportunity to teach and to learn. He is a certified full stack 
          engineer. Manny is constantly pushing to expand his understanding of code, and in his free
          time enjoys exploring the scenery in his town of Hermiston, Oregon.
        </p>
      </div>
      <div class="card-action">
          <a href="https://www.linkedin.com/in/manuel-velasco-29b894197/">Linked In</a>
          <a href="https://github.com/menosvelasco">Github</a>
          <a href="mailto: manuelvelasco2020@gmail.com">Get in touch</a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col s12 m7 hide-on-med-and-up">
    <div class="card">
      <div class="card-image">
        <img
          src="../media/images/Tyrell.png"
        />
        <span class="card-title">Tyrell Williams</span>
      </div>
      <div class="card-content">
        <p>
            Tyrell Williams is an up and coming, certified full-stack software developer with a creative 
            mind and determination to get any task done. In the near future, Tyrell plans on being a vital 
            player on a development team with projects that focus on the greater good for mankind. Going 
            right along with being creative, Tyrell excels in problem solving which will make him an asset 
            to anyones development team. Ultimately, Tyrell would like to start his own business that is 
            centered around helping the less fortunate who either doesn’t have the means to afford decent 
            technology or just can’t seem to understand the technology that they already have. Outside of coding, 
            Tyrell enjoys watching sports and spending as much time as possible with loved ones.
        </p>
      </div>
      <div class="card-action">
          <a href="http://linkedin.com/in/tyrell-williams-878813170">Linked In</a>
          <a href="https://github.com/Tywill2020">Github</a>
          <a href="mailto: Tywill2014@gmail.com">Get in touch</a>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock about_us %}
