<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Spark</title>
  </head>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
  />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <link
    href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet"
  />
  <style>

    body {background-image: url(https://trello-backgrounds.s3.amazonaws.com/53baf533e697a982248cd73f/2048x2048/22ec03aab9d36ea49139c569a62bb079/shutterstock_134707556.jpg);
          background-size: 217%;
          background-position: top left;}
    @media (min-width: 600px){
      body {background-size: 150%;}
    }
    @media (min-width: 900px){
      body {background-size: 100%;}
    }
  </style>
  <body >
    
    {% include 'nav_bar.html' %}
     {% block index %} {% endblock index %} 
      {% block form %} {% endblock form %}
      {% comment %} {% block pending_dates %} {% endblock pending_dates %} {% endcomment %}
      {% block date %} {% endblock date %} 
      {% block activity_form %} {% endblock activity_form%}
      {% block date_history %}  {% endblock date_history %}
      {% block date_night_details %} {% endblock date_night_details %} 
      {% block profile %} {% endblock profile %}
  </body>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.modal');
        var instances = M.Modal.init(elems);
      });

      document.addEventListener("DOMContentLoaded", function () {
        var elems = document.querySelectorAll("select");
        var instances = M.FormSelect.init(elems, { classes:'text-blue'});
      });

      document.addEventListener("DOMContentLoaded", function () {
        const today = new Date()
        const tomorrow = new Date(today.getFullYear(),today.getMonth(), today.getDate() + 1)
        console.log(tomorrow)
        var elems = document.querySelectorAll(".datepicker");
        var instances = M.Datepicker.init(elems, { format: "m/d/yyyy", autoClose: true });
      });

      document.addEventListener("DOMContentLoaded", function () {
        var elems = document.querySelectorAll(".timepicker");
        var instances = M.Timepicker.init(elems);
      });
      document.addEventListener("DOMContentLoaded", function () {
        var elems = document.querySelectorAll(".sidenav");
        var instances = M.Sidenav.init(elems);
      });
    </script>
</html>
