{% extends 'base.html' %}
{% block date %}
<div class='row container' >
  <div class="col container s12 m6"  style="background-color:hsla(0,0%,100%,.24);">
  <div class="card-panel s4 " style="background-color:hsla(0,0%,100%,.61);" >
    <form method="post" action='/create_a_date/{{endpoint}}'>
      {% csrf_token %}
      {% if receiver %}
        <div class="input-field col s12">
          <select id="{{category}}" name="{{category}}" required multiple>
            <option class=browser-default value="" disabled selected>Fun date to pick</option>
            {% for date_activity in dates_to_pick %}
              <option class=browser-default value="{{ date_activity.instance }}">{{ date_activity.value }}</option>
            {% endfor %}
          </select>
          <label for="{{category}}">Date Night Activity</label>
        </div>
      {% else %}
        <label for="users_two">Your Spark</label>
        <select id="users_two" name="users_two">
          <option class=browser-default value="" disabled selected>Users to pick</option>
          {% for user in date_night_users %}
            <option class=browser-default value="{{ user.instance }}">{{ user.value }}</option>
          {% endfor %}
        </select>
        <div class="input-field col s12">
          <select id="{{category}}" name="{{category}}" required multiple>
            <option class=browser-default value="" disabled selected>Fun date to pick</option>
            {% for date_activity in dates_to_pick %}
              <option class=browser-default value="{{ date_activity.instance }}">{{ date_activity.value }}</option>
            {% endfor %}
          </select>
          <label for="{{category}}">Date Night Type</label>
        </div>
        
        <label for="location">Location</label>
        <input type="text" name="location" maxlength="100" required="" id="location" class='transparent grey-text text-darken-4'>

        <label for="date_day">Date Night</label>
        <input for="date_day" name="date_day" id="date_day" type="text" class="datepicker grey-text text-darken-4">

        <label for="date_time">Date Time</label>
        <input for="date_time" name="date_time" id="date_time" type="text" class="timepicker grey-text text-darken-4">
        {% endif %}

        <input  type="submit" class="waves-effect grey lighten-4 waves-green hoverable btn" value="Confirm Date">

    </form>
    </div>
  </div>
</div>
<div class='row container' >
  <div class="col container s12 m6"  style="background-color:hsla(0,0%,100%,.24);">
  <div class="card-panel s4 " style="background-color:hsla(0,0%,100%,.61);" >
    Don't see a date type above that interests you? Add your own ideas below. Keep in mind, these will be available for all users.
    <form method="post" action='/create_a_date/{{endpoint}}/add_option/'>
        <div class="input-field col s12">
        {% csrf_token %}
        {{ add_to_form.as_p }}
        </div>
        <input  type="submit" class="waves-effect grey lighten-4 waves-green hoverable btn" value="Add Date Night Option">
    </form>
    </div>
  </div>
</div>
{% endblock date %}