{% extends 'base.html' %}
{% block activity_form %}
<form method="POST">
    {% csrf_token %}
          <label for="choice">Date Night Type</label>
        <div class="input-field col s12">
    <select id="choice" name="choice">
        <option class=browser-default value="" disabled selected>Select Date Type</option>
        {% for choice in date_night_choices %}
        <option class=browser-default value="{{ choice.instance }}">{{ choice.value }}</option>
        {% endfor %}
    </select>
    </div>
    <br><br>
    <input type="submit" value="Next" />
</form>
{% endblock activity_form %}
