{% extends 'base.html' %}
{% block date_history %}
{% comment %} "confirmed_notifications": confirmed_notifications,
            "declined_notifications": declined_notifications,
            "no_match_notifications": no_match_notifications,
            "cancelled_notifications": cancelled_notifications, {% endcomment %}
<div class='container row'>
  {% include 'date_history_cards.html' with notifications=confirmed_notifications header="Old Confirmed Date Nights!" %}
</div>
<div class="container row">
  {% include 'date_history_cards.html' with notifications=declined_notifications header="Old Declined Date Nights!" %}
 </div> 
 <div class="container row">
  {% include 'date_history_cards.html' with notifications=no_match_notifications header="Old No Matched Date Nights!" %}
 </div> 
 <div class="container row">
  {% include 'date_history_cards.html' with notifications=cancelled_notifications header="Old Cancelled Date Nights!" %}
  </div>
  {% comment %} <div class="card-panel" style="background-color:hsla(0,0%,100%,.24);">
  {% for note in confirmed_notifications %}
  <div
    class="testtest horizontal card hoverable  grey-text text-darken-4 col  s8 m4 l3">
    <div class="card-stacked">

      <div class="card-content">
        {{note.status}}
        {{note.id}}
      </div>
      <div class="card-action grey lighten-5 ">
        {{note.date_night.location}}
        {{note.date_night.when_date_time}}
        <div class="divider"></div>
        {% if note.date_night.confirmed_activity.choice %}
        {{note.date_night.confirmed_activity.choice}}
        {% else %}
        Activity not confirmed
        {% endif %}
        Sent from: {{note.sent_user.username}}
        Received: {{note.received_user.username}}
      </div>
    </div>
  </div>
  {% endfor %}
</div> {% endcomment %}

  <script>
    setTimeout(()=> {
      let cards = document.querySelectorAll('.scale-transition')
      cards.forEach(card => card.classList += ' scale-in')
      console.log(M)
    },400)
  </script>
{% endblock date_history %}