<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 m6 s12">
        <h5 class="white-text">Spark</h5>
        <p class="grey-text text-lighten-4">
            Where the app makes the decision so you don't have to.
        </p>
      </div>
      <div class="col l4 offset-l2 m4 offset-m2 s12">
        <h5 class="white-text">Helpful Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="/about_us/">About the Spark Team</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Careers</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Report an issue</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2021 Copyright Spark Inc.
    </div>
  </div>
</footer>
