{% extends 'base.html' %}
{% block form %}
<div class='container row'>
<div class='row'>
    <div class='col l5 s12'>
        <div class="card-panel allForm">
            <h5 class='link'>{{title}}</h5>
            <form method="POST" action="" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="input-field col s12">
                    {{ form.as_p }}
                </div>
                <input type="submit" class='btn' value="submit">
            </form>
        </div>
    </div>
</div>
</div>

{% endblock form %}