<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% if request.user.is_authenticated %}
 <nav>
    <div class="nav-wrapper">
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="/logout/">Logout</a></li>
      </ul>
    </div>
  </nav>
    <ul class="sidenav" id="mobile-demo">
        <li><a href="/">Home</a></li>
        <li><a href="/logout/">Logout</a></li>
  </ul>
{%else%}

  <nav>
    <div class="nav-wrapper">
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <a href="#!" class="brand-logo center">Spark</a>
      <ul class="left hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="/login/">Login</a></li>
        <li><a href="/sign_up/">Sign Up</a></li>
      </ul>
    </div>
  </nav>
  </nav>
    <ul class="sidenav" id="mobile-demo">
        <li><a href="/">Home</a></li>
        <li><a href="/logout/">Logout</a></li>
        <li><a href="/sign_up/">Sign Up</a></li>
  </ul>
 {% endif %}
<script>

  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.sidenav');
    var instances = M.Sidenav.init(elems);
  });
</script>