{% extends 'base.html' %} 
{% block index %} 
{% if request.user.is_authenticated %}
  <h4>Welcome, {{ request.user.username }}</h4>
  <h6>Coming up dates!</h6>
  <ul>
    {% for notes in confirmed_dates %}
    <ol>
      {{notes.date_night.confirmed_activity.choice}} in
      {{notes.date_night.location}}
      with 
      {% if notes.sent_user.username == request.user.username %}
        {{notes.received_user.username}} 
      {% else %}
        {{notes.sent_user.username}}
      {% endif %} at
      {{notes.date_night.when_date_time}}
    </ol>
    {% endfor %}
  </ul>
{% else %}
<div class="row" style='padding-top: 2em'>
  <div class="col s11 m5 l5 offset-s1 offset-m1 offset-l1">
    <h1 class='section' style='padding-top: 2rem'>Spark</h1>
    <h5 class='section'>Helping you find what's for dinner</h5>
  </div>
  <div class="col s11 m5 l5">
    <div class="row">
      <div class="col s12">
        <div class="card amber lighten-5">
          <div class="card-content black-text">
            {% if request.path == '/sign_up/' %}
            <span class="card-title">Sign Up</span>
            {% else %}
            <span class="card-title">Login</span>
            {% endif %}

            <form method="POST">
              {% csrf_token %} {{ form.as_p }}
              <input
                class="waves-effect waves-light orange lighten-2 btn"
                type="submit"
                value="Submit"
              />
            </form>
          </div>
          <div class="card-action center-align">
            <div class="card-tabs">
              <ul class="tabs amber lighten-5 tabs-fixed-width">
                <li
                  class="tab waves-effect waves-light white btn hoverable"
                  style="margin: 0px 5px 0px 10px"
                >
                  <a href="/login/">Login</a>
                </li>
                <li
                  class="tab waves-effect waves-light white btn hoverable"
                  style="margin: 0px 10px 0px 5px"
                >
                  <a class="active" href="/sign_up/">Sign up</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %} 
{% endblock index %}
