{% if request.user.is_authenticated %}
 <nav class="transparent">
    <div class="nav-wrapper ">
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="/profile/{{user.id}}">profile</a></li>
        <li><a href="/create_a_date/">Create A Date</a></li>
        <li><a href="/preferences/">Preferences</a></li>
        <li><a href="/add_a_category/">Add a category</a></li>   
        <li><a href="/add_to_stay_home/">Add to Stay Home</a></li>   
        {% comment %} <li><a href="/pending_dates/">Pending Dates</a></li> {% endcomment %}
        <li><a href="/date_history/">Date History</a></li>
        <li><a href="/logout/">Logout</a></li>
      </ul>
    </div>
  </nav>
    <ul class="sidenav" id="mobile-demo">
        <li><a href="/">Home</a></li>
        <li><a href="/profile/{{user.id}}">Profile</a></li>
        <li><a href="/create_a_date/">Create A Date</a></li>
        <li><a href="/preferences/">Preferences</a></li>
        <li><a href="/add_a_category/">Add a category</a></li>        
        {% comment %} <li><a href="/pending_dates/">Pending Dates</a></li>         {% endcomment %}
        <li><a href="/date_history/">Date History</a></li>        
        <li><a href="/logout/">Logout</a></li>
  </ul>
{%else%}

  <nav class='transparent'>
    <div class="nav-wrapper">
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <a href="/" class="brand-logo center">Spark</a>
      <ul class="left hide-on-med-and-down">
        <li><a href="/login/">Login</a></li>
        <li><a href="/sign_up/">Sign Up</a></li>
      </ul>
    </div>
  </nav>
    <ul class="sidenav" id="mobile-demo">
        <li><a href="/login/">Login</a></li>
        <li><a href="/sign_up/">Sign Up</a></li>
  </ul>
 {% endif %}

