{% extends 'base.html' %}
{% block pending_dates %}
\<h3>pending dates</h3>
{% for note in sent_notifications  %}
<br/>
Sent to {{note.received_user.username}}
Date {{note.date_night.when_date_time}}
Where {{note.date_night.location}}
{% endfor %}
<br />
{% for note in received_notifications  %}
Received from {{note.sent_user.username}}
Date {{note.date_night.when_date_time}}
Where {{note.date_night.location}}
<a href="#"><button>Confirm</button></a>
<a href="#"><button>Decline</button></a>
<br />
{% endfor %}
{% endblock pending_dates %}