
{% if active_notifications %}
<h6>Sent dates</h6>
{% endif %}
<ul>
{% for note in active_notifications  %}
<ol>
{% if note.status != "Declined" %}
Sent to {{note.received_user.username}}
Date {{note.date_night.when_date_time}}
Where {{note.date_night.location}}
{% else %}
Date sent to {{note.received_user.username}} has been declined.
Try again later or with a different friend!
{% endif %}
</ol>
{% endfor %}
</ul>
<br />
{% for note in received_notifications  %}
{% if note.status == "Declined" %}
You delined a date sent by {{note.sent_user.username}}.
Sometimes it just doesn't work out! Try again!
{% else %}
Received from {{note.sent_user.username}}
Date {{note.date_night.when_date_time}}
Where {{note.date_night.location}}
<a href="/confirm_date/{{note.id}}"><button>Confirm</button></a>
<a href="/decline_date/{{note.id}}"><button>Decline</button></a>
<br />
{% endif %}
{% endfor %}

