	<style>
	.user_info{
		text-align: center;
	}
	.profile_buttons{
		text-align: center;
		
	
	}
	#update_profile{
		background-color: rgb(139, 218, 113);
		padding: 10px 25px;
	}
	#delete_profile{
		background-color: rgb(231, 86, 86);
		padding: 10px 25px;
	}
	#photo_profile{
		background-color: rgb(99, 179, 245);
		padding: 10px 25px;
	}
	.color_text{
		color: #f0ffff;
	}
	#col_item_css{
		background-color:#009688;
	}
	.all-preferences{
		border: 1px solid red;
	}
	.dinner-preference{
		outline: 1px solid blue;
		margin: 1% 1%;
	}
	
	</style>
<body>
{% extends 'base.html' %}
{% block profile %}
<div class="user_info">
	{% if messages %}
		{% for msg in messages %}
			{{msg}}
		{% endfor %}
	{% endif %}

	{% if request.user.is_authenticated %}

	{% if request.user.picture %}


	
	{% endif %}
	
	<div class="row">
		<div class="col s8 m2">
			<div class="card teal">
				<div class="card-image">
						<img src="{{request.user.picture.url}}" alt="user image" width="200" height="190" style="border: 1px solid black">
							<div class="card-content">
								<span class="white-text">
									<p>Username: {{request.user.username}}</p>
									<p>Full name: {{request.user.full_name}}</p> 
									<p>Email: {{request.user.email}}</p>
									<p>Number of Dates: {{datesnight}}</p>
									<p>Places Visited: {{request.user.location}}</p>
								</span>
							</div>
				</div>
			</div>
		</div>
	</div>

	

	<div class="all-preferences">
		<div class="dinner-preference">
			{% if request.user.dining_preference.values_list %}
			<div class="row">
				<div class="col s8 m2">
					<div class="card teal">
						<span class="white-text">
						<span class="card-title"><i class="material-icons small">local_dining</i>Prefered Dining:</span>  
							<ul class="collection">
								{% for pref in request.user.dining_preference.values_list %}
								
									<li class="collection-item" id="col_item_css">{{pref.1}}</li>
								
								{% endfor %}
							</ul>
						</span>
					</div>
				</div>
			</div>
			{% endif %}
		</div>


		{% if request.user.entertainment_preference.values_list %}
		<div class="row">
			<div class="col s8 m2">
				<div class="card teal">
					<span class="white-text">
						<span class="card-title"><i class="material-icons small">local_movies</i>Prefered Entertainment:</span>
							<ul class="collection">
							{% for pref in request.user.entertainment_preference.values_list %}
								<li class="collection-item" id="col_item_css">{{pref.1}}</li>
							{% endfor %}
							</ul>
						</span>
					</div>
				</div>
			</div>
		{% endif %}

		{% if request.user.out_doors_preference.values_list %}
		<div class="row">
			<div class="col s8 m2">
				<div class="card teal">
					<span class="white-text">
						<span class="card-title"><i class="material-icons small">directions_walk</i>Prefered Out Door Activities:</span>
							<ul class="collection">
								{% for pref in request.user.out_doors_preference.values_list %}
									<li class="collection-item" id="col_item_css">{{pref.1}}</li>
								{% endfor %}
							</ul>
					</span>
				</div>
			</div>
		</div>
		{% endif %}

		{% if request.user.stay_home_preference.values_list %}
		<div class="row">
			<div class="col s8 m2">
				<div class="card teal">
					<span class="white-text">
						<span class="card-title"><i class="material-icons small">home</i>Prefered Stay Home Activities:</span>
							<ul class="collection">
									{% for pref in request.user.stay_home_preference.values_list %}
									<li class="collection-item" id="col_item_css">{{pref.1}}</li>
								{% endfor %}
							</ul>
					</span>
				</div>
			</div>
		</div>
		{% endif %}
	</div>


</div>
<div class="profile_buttons">
	{% comment %} update profile modal {% endcomment %}
	<a class="waves-effect waves-light btn modal-trigger" href="#modal1">Update Profile</a>
	<div id="modal1" class="modal">
		<div class="modal-content">
		<h4>Update your Profile</h4>
		<form method="POST" action="/update_profile/{{user.id}}/" enctype="multipart/form-data">
			{% csrf_token %}
			{{ update_profile_form.as_p }}
			<input type="submit" value="Update">
		</form>
		</div>
		<div class="modal-footer">
		<a href="/profile/{{request.user.id}}" class="modal-close waves-effect waves-green btn-flat">I've changed my mind.</a>
		</div>
	</div>
	{% comment %} update date preferences modal {% endcomment %}
	<a class="waves-effect waves-light btn modal-trigger" href="#modal2">Update Your Date Preferences</a>
	<div id="modal2" class="modal">
		<div class="modal-content">
		<h4>Update Your Date Preferences</h4>
		<form method="POST" action="/preferences/" enctype="multipart/form-data">
			{% csrf_token %}
			{{ update_preferences_form.as_p }}
			<input type="submit" class="waves-effect light-blue waves-yellow btn" value="submit">
		</form>
		</div>
		<div class="modal-footer">
		<a href="/profile/{{request.user.id}}" class="modal-close waves-effect waves-green btn-flat">I've changed my mind.</a>
		</div>
	</div>
	{% comment %} update profile picture modal {% endcomment %}
	<a class="waves-effect waves-light btn modal-trigger" href="#modal3">Update Profile Picture</a>
	<div id="modal3" class="modal">
		<div class="modal-content">
		<h4>Update your Profile Picture</h4>
		<p>Select a photo</p>
		<form method="POST" action="/image_upload/" enctype="multipart/form-data">
			{% csrf_token %}
			{{ update_pic_form.as_p }}
			<input type="submit" value="Upload">
		</form>
		</div>
		<div class="modal-footer">
		<a href="/profile/{{request.user.id}}" class="modal-close waves-effect waves-green btn-flat">I've changed my mind.</a>
		</div>
	</div>
	{% comment %} delete profile modal {% endcomment %}
	<a class="waves-effect waves-light btn modal-trigger" href="#modal4">Delete profile</a>
	<div id="modal4" class="modal">
		<div class="modal-content">
		<h4>Delete Your Profile</h4>
		<p>You are about to delete your profile. Are you sure you want to do this?</p>
		</div>
		<div class="modal-footer">
		<a href="/delete_profile/{{request.user.id}}" class="modal-close waves-effect waves-green btn-flat">Delete My Profile</a>
		<a href="/profile/{{request.user.id}}" class="modal-close waves-effect waves-green btn-flat">I've changed my mind.</a>
		</div>
	</div>
			

	{% endif %}
</div>
<script>
document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.modal');
    var instances = M.Modal.init(elems);
  });
</script>
{% endblock profile%}
</body>