{% extends 'base.html' %}
{% block profile %}
<style>
.user_info{
	text-align: center;
}
.profile_buttons{
	text-align: center;
	

}
#update_profile{
	background-color: rgb(139, 218, 113);
	padding: 10px 25px;
}
#delete_profile{
	background-color: rgb(231, 86, 86);
	padding: 10px 25px;
}
#photo_profile{
	background-color: rgb(99, 179, 245);
	padding: 10px 25px;
}
.color_text{
	color: azure;
}

</style>
<div class="user_info">
	{% if messages %}
		{% for msg in messages %}
			{{msg}}
		{% endfor %}
	{% endif %}
	<h4>user profile</h4>
	{% if request.user.is_authenticated %}

	{% if request.user.picture %}


	<img src="{{request.user.picture.url}}" alt="user image" width="150" height="150" style="border: 1px solid black">

	{% endif %}

	<p>Username: {{request.user.username}}</p>
	<p>Full name: {{request.user.full_name}}</p> 
	<p>Email: {{request.user.email}}</p>
	<p>Number of Dates: {{datesnight}}</p>
	<p>Places Visited: {{request.user.location}}</p>
	{% if request.user.dining_preference.values_list %}
	<p>Prefered Dining: 
	<ul>
	{% for pref in request.user.dining_preference.values_list %}
		<li>{{pref.1}}</li>
	{% endfor %}
	</ul>
	{% endif %}
	</p>
	{% if request.user.entertainment_preference.values_list %}
	<p>Prefered Entertainment: 
	<ul>
	{% for pref in request.user.entertainment_preference.values_list %}
		<li>{{pref.1}}</li>
	{% endfor %}
	</ul>
	{% endif %}
	</p>
	{% if request.user.out_doors_preference.values_list %}
	<p>Prefered Out Door Activities: 
	<ul>
	{% for pref in request.user.out_doors_preference.values_list %}
		<li>{{pref.1}}</li>
	{% endfor %}
	</ul>
	{% endif %}
	</p>
	{% if request.user.stay_home_preference.values_list %}
	<p>Prefered Stay Home Activities: 
	<ul>
	{% for pref in request.user.stay_home_preference.values_list %}
		<li>{{pref.1}}</li>
	{% endfor %}
	</ul>
	{% endif %}
	</p>
</div>
<div class="profile_buttons">
	<button id="update_profile"><a class="color_text" href="/update_profile/{{user.id}}/">update profile</a></button>
	<button id="delete_profile"><a class="color_text" href="/delete_profile/{{user.id}}/">delete profile</a></button>

	<button id="photo_profile"><a class="color_text" href="/image_upload/">add photo</a></button>

	{% endif %}
</div>
{% endblock profile%}